.navigation-maincontainer {
  position: fixed;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  right: 2%;
  z-index: 1000;
}

.navigation-maincontainer svg {
  font-size: 20px;
}

.navigation-maincontainer a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  transition: 0.3s;
  background-color: #2b2a2a;
  border-radius: 50%;
  position: relative;
}

.navigationactive {
  background-color: #ffb400 !important;
}

.navigation-title {
  transition: 0.3s;
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  right: 8%;
  font-size: 20px;
  display: flex;
  align-items: center;
  font-weight: 100;
  background-color: #ffb400;
  width: fit-content;
  height: 50px;
  padding: 0 10px 0 20px;
  border-radius: 100px 0 0 100px;
}

.navigation-maincontainer a:hover .navigation-title {
  right: 90%;
  opacity: 1;
  transition: 0.3s;
}

.navigation-maincontainer a:hover {
  border-radius: 0 50% 50% 0;
  transition: 0.3s;
  background-color: #ffb400;
}

@media screen and (max-width: 768px) {
  .navigation-maincontainer {
    bottom: 0;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    justify-content: space-around;
    right: 0;
    position: fixed;
    background-color: #2b2a2a;
  }
  
  .navigation-maincontainer a {
    margin: 10px 0;
    width: 45px;
    height: 45px;
    background-color: #444444;
  }

  .navigation-title {
    display: none;
  }

  .navigation-maincontainer a:hover {
    border-radius: 50%;
  }
}
