.workpage-maincontainer {
    animation: fadeUpAnimation 1.5s ease-in-out;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workpage-workcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

@media screen and (max-width: 768px) {
    .workpage-workcontainer {
        width: 95%;
        justify-content: center;
        margin-bottom: 90px;
    }
    
}