.workcard-maincontainer {
  width: 30%;
  overflow: hidden;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  border-radius: 10px;
  animation: fadeRightAnimation 1.7s ease-in-out;
}

.workpage-image {
  width: 100%;
  transition: 0.4s;
}

.workcard-contentcontainer {
    display: flex;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
    background-color: #ffb400;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workcard-maincontainer:hover {
    cursor: pointer;
}

.workcard-maincontainer:hover .workcard-contentcontainer {
    opacity: 1;
}

.workcard-maincontainer:hover .workpage-image {
  transform: scale(1.2);
}

.workcard-contentcontainer h2 {
    margin-bottom: 10px;
}

.workcard-contentcontainer h2, .workcard-contentcontainer h3 {
    font-weight: 100;
}

@keyframes fadeRightAnimation {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @media screen and (max-width: 480px) {
    .workcard-maincontainer {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 768px) {
    .workcard-maincontainer {
      width: 44%;
    }
  }