.contactpage-maincontainer {
  display: flex;
  animation: fadeUpAnimation 1.5s ease-in-out;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.contactpage-container {
  display: flex;
  width: 80%;
  height: 100%;
}

.contactpage-leftcontainer {
  width: 35%;
  height: 100%;
}

.contactpage-leftcontainer h3 {
  font-size: 26px;
}

.contactpage-leftcontainer p {
  margin: 30px 0;
  text-align: justify;
}

.contact-details {
  display: flex;
  margin-bottom: 30px;
}

.contact-details svg {
  fill: #ffb400;
  font-size: 35px;
}

.contact-subdetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.contact-subdetails span {
  opacity: 0.8;
  margin-bottom: 5px;
}

.simplefont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.contactpage-socialmedialink {
  height: 10%;
  display: flex;
}

.contact-link {
  height: 100%;
}

.contactpage-socialmedialink img {
  height: 100%;
  width: 100%;
}

.contactpage-link {
  background-color: #2b2a2a;
  border-radius: 50%;
  margin-right: 15px;
  width: 40px;
  transition: 0.3s;
  height: 40px;
}

.contactpage-link:hover {
  background-color: #ffb400;
}

.contactpage-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contactpage-socialmedialink img {
  width: 50%;
  height: 50%;
}

.contactpage-rightcontainer {
  width: 65%;
  height: 100%;
  padding-left: 30px;
}

.contactpage-formcontainer {
  width: 100%;
  display: flex;
}

.contactpage-formcontainer input,
.contactpage-formcontainer textarea {
  border: 1px solid #111;
  width: 100%;
  background: #252525;
  color: #fff;
  padding: 15px 26px;
  margin: 0 20px 30px 0;
  border-radius: 30px;
  outline: none;
  transition: 0.3s;
}

.contactpage-formcontainer input:focus,
.contactpage-formcontainer textarea:focus {
  border: 1px solid #ffb400;
}

.contactpage-formcontainer textarea {
  height: 200px;
  margin: 0 20px 20px 0;
  resize: none;
}

.contactpage-button svg {
  font-size: 25px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .contactpage-leftcontainer h3 {
    font-size: 21px;
  }

  .contactpage-formcontainer input,
  .contactpage-formcontainer textarea {
    width: 85% !important;
  }
}

@media screen and (max-width: 768px) {
  .contactpage-container {
    flex-direction: column;
    width: 95%;
    margin-bottom: 50px;
  }

  .contactpage-maincontainer {
    height: fit-content;
  }

  .contactpage-leftcontainer {
    width: 98%;
  }

  .contactpage-rightcontainer {
    width: 100%;
    margin-top: 30px;
    padding: 0;
    margin-bottom: 75px;
  }

  .contactpage-formcontainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .contactpage-formcontainer input,
  .contactpage-formcontainer textarea {
    margin: 0 0 30px 0;
    width: 90%;
  }

  .contactpage-button {
    width: 100%;
    text-align: center;
  }
}
